.body {
    background-color: white;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px) {
    /* Điều chỉnh kiểu dáng cho màn hình nhỏ hơn hoặc bằng 600px */
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    .container {
        max-width: 100%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: white;
    text-align: center;
}

title body {
    margin: 0;
    padding: 0;
    background-color: green;
}

.login-text {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: white;
    color: green;
    border-radius: 3px;
    cursor: pointer;
}
/* nav */
nav {
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: white;
    font-size: 20px;
}

nav ul li :nth-child(1) input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}

nav ul li:nth-child(1) button {
    height: 20px;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 6px;
}

nav ul li :nth-child(2) button {
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 6px;
    transition: all 0.3S ease;
}
/*menu bar*/
.menu-bar {
    background-color: green;
    padding: 40px;
}

.menu-bar ul {
    display: flex;
    justify-content: space-around;
}

.menu-bar ul li a {
    color: white;
    font-size: 16px;
}


.menu-bar ul li {
    position: relative;
    padding: 12px;
}

.submenu {
    position: absolute;
    background-color: white;
    width: 100px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 15p;
    display: none;
}

.submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.submenu ul li {
    padding: 6px 0;
}

.submenu ul li a {
    font-size: 15px;
    color: black;
}

.menu-bar-container ul li:hover .submenu {
    display: block;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 80vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

post {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post img {
    width: 10%;
    margin-right: 10px; 
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.post p {
    margin-bottom: 10px;
}

.post .read-more {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.full-content {
    display: none;
}
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: green;
}