/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid {
    display: grid;
    gap: 20px;
}

/*HEADER*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-text {
    position:fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: white;
    color: green;
    border-radius: 3px;
    cursor: pointer;
}

.nav {
    height: auto;
    justify-content: space-between;
    background-color: green;
}

.nav_list {
    display: flex;
    justify-content: space-around;
}

.nav_item {
    padding: 12px;
}

.nav_item:hover{
    background-color: forestgreen;
}

.nav_link {
    color: white;
    font-size: 16px;
}

.nav_toggle {
    display: none;
    padding: 12px;
    cursor: pointer;
    color: white;
}

/*FOOTER*/
footer {
    color: white;
    padding: 10px 10%;
    margin-top: 20px;
    background-color: green;
}

.social {
    display: flex;
    gap: 10px;
}

.title_social{
    margin-bottom: 10px;
}

.social_item{
    padding: 10px;
}

.facebook {
    background-color: #4763A6;
}

.youtube {
    background-color: #C92222;
}

.twitter {
    background-color: #1BA2F3;
}

.ggplus {
    background-color: #D74F39;
}

.social_icon {
    color: white;
    font-size: 1.1rem;
}

.copyright{
    text-align: center;
}
/*RESPONSIVE*/
@media screen and (max-width: 767.98px) {
    .nav {
        display: flex;
    }

    .nav_list {
        display: block;
    }

    .nav_item:not(:first-child) {
        display: none;
    }

    .nav_toggle {
        display: block;
        margin-right: 12px;
    }

    .show_menu .nav_item {
        display: block;
    }

    .show_menu {
        position: relative;
        display: block;
    }

        .show_menu .nav_toggle {
            position: absolute;
            top: 0;
            right: 0;
        }
}

@media screen and (min-width: 767.98px) {
    .related {
        display: flex;
        justify-content: space-between;
    }
}