body {
}

.title{
    background-color: green;
}
.title h3{
    color: white;
    font-size: 22px;
    margin: 10px 0;
}

#left {
    color: white;
    background-color: forestgreen;
}

label {
    color: white;
}

td {
    background-color: lightgray;
    color: black;
}

th {
    background-color: teal;
    color: #EAF6F6;
}

.site-bar-child {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.site-bar-child:hover {
    background-color: #e1dada8a;
    text-decoration: none;
    color: white;
}

.site-bar-child label {
    line-height: 1;
    margin: 0;
}

.site-bar-child i{
    line-height: 1;
}

.bg-forestgreen {
    background-color: forestgreen;
}

.site-bar-child label {
    line-height: 1;
    margin: 0;
}

.active a label {
    color: green;
}

.active {
    background-color: white;
    color: green;
}

.active i {
    color: green;
}

.active label {
    color: green;
}

.gridview-row:hover {
    background-color: #f1f1f1; /* Màu nền khi hover */
    cursor: pointer; /* Hiệu ứng con trỏ */
}